docker-containers/xonotic/xonotic.zip
docker-containers/xonotic/Xonotic*
docker-containers/xonotic-arm/xonotic.zip
docker-containers/xonotic-arm/Xonotic*

.idea/
.codex
__pycache__/
.ruff_cache/
venv/
.venv/
.env
