docker-containers/xonotic/xonotic.zip
docker-containers/xonotic/Xonotic*
sidecar/sidecar

.cache/
.idea/
.codex
.pulumi
__pycache__/
node_modules/
.ruff_cache/
venv/
.venv/
.env

lambda/launcher/node_modules/
lambda/launcher/dist/
